<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		<%= title %>
	</title>
	<link rel="icon" href="/images/icon.ico">
	<!--CSS Frame works and addons-->
	<link rel="stylesheet" href="/bower_components/sanitoze-css/sanitize.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
	<!--Custom CSS Files-->
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/registerbackground.css">
	</head>
	<body class="animated fadeIn">
		<form method="post">
			<h2><%= title%></h2>
			<div class="form-group">
				<label for="sportType" style="display: none;">Sport Type</label>
				<input type="text" name="sportType" value="<%= team.sportType%>">
			</div>
			<div class="form-group">
				<label for="teamName" style="display: none;">Team Name</label>
				<input type="text" name="teamName" value="<%= team.teamName%>">
			</div>
			<div class="form-group">
				<label for="location" style="display: none;">Home City</label>
				<input type="text" name="location" value="<%= team.location%>">
			</div>
			<div class="form-group">
				<label for="standings" style="display: none;">Standings</label>
				<input type="number" name="standings"value="<%= team.standings%>">
			</div>
			 controls %>
			<div class="form-group">
				<button type="submit" name="button" class="btn btn-outline-light btn-block">Save Changes</button>
				<a role="button" href="/teamTracker" class="btn btn-outline-light btn-block" >Back</a>
			</div>
		</form>
	</body>
</html>
